{{> nav}}

<div class="delivery">
    <h1>Bill Section</h1>
</div>

<style>
    h1{
        margin: 0px 260px;
        font-weight: 900;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 10px;
        text-align: center;
    }
</style>

<script>
    document.getElementById('bill').classList.add('active')
</script>