
{{> aj}}

<div class="delivery">
    <h1>Delivery Segment</h1>
</div>

<style>
    h1{
        margin: 0px 260px;
        font-weight: 900;
        padding: 10px 10px;
        text-align: center;
    }
</style>

