{{> aj }}

<div class="delivery">
    <h1>Return Segment</h1>
    <table>
        <tr>
            <td class="heading">S.no</td>
            <td class="heading">Name</td>
            <td class="heading">Brand Name</td>
            <td class="heading">Status</td>
        </tr>


        <tr>
            <td>1</td>
            <td>David</td>
            <td>Inter Miami</td>
            <td class="no">No</td>
        </tr>

         <tr>
            <td>2</td>
            <td>Lebron</td>
            <td>Nba star</td>
            <td class="yes">Yes</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Cristiano</td>
            <td>Nike</td>
            <td class="yes">Yes</td>
        </tr>

         <tr>
            <td>4</td>
            <td>NeymarJr</td>
            <td>Football</td>
            <td class="yes">Yes</td>
        </tr>
         <tr>
            <td>5</td>
            <td>Mbappe</td>
            <td>Ninja turtle </td>
            <td class="no">No</td>
        </tr>
    </table>
</div>

<style>
    h1{
        margin: 0px 260px;
        font-weight: 900;
        padding: 10px 10px;
        text-align: center;
    }
    .delivery{
        height:auto;
    }
    table{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    td{
        padding: 5px 20px;
        border: 1px solid rgb(155, 155, 155);
    }
    .heading{
        height: 30px;
        font-size: 15px;
        font-weight: 900;
        border: 1px solid rgb(151, 151, 151);
        background: rgb(0, 0, 0);
        color:whitesmoke
    }
    .no{
        color: rgb(73, 4, 4);
    }
    .yes{
        color: rgb(17 167 16);
    }
</style>



