{{> nav }}

<div class="delivery">
    <h1>Return Section</h1>
    <table>
        <tr>
            <td class="pr">S.no</td>
            <td class="pr">Name</td>
            <td class="pr">Product name</td>
            <td class="pr">Status</td>
        </tr>


        <tr>
            <td>1</td>
            <td>Arun Pratap Singh</td>
            <td>Laptop</td>
            <td class="not">Not done</td>
        </tr>

         <tr>
            <td>2</td>
            <td>Ashu Rajput</td>
            <td>Desktop</td>
            <td class="live">done</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Amit</td>
            <td>Graphic Card</td>
            <td class="live">done</td>
        </tr>

         <tr>
            <td>4</td>
            <td>Kapil Chaudhary</td>
            <td>iPhone 11</td>
            <td class="live">done</td>
        </tr>
         <tr>
            <td>5</td>
            <td>Deep Money</td>
            <td>Cricket Bat</td>
            <td class="not">Not done</td>
        </tr>
    </table>
</div>

<style>
    h1{
        margin: 0px 260px;
        font-weight: 900;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 10px;
        text-align: center;
    }
    .delivery{
        height:auto;
    }
    table{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    td{
        padding: 5px 20px;
        border: 1px solid rgb(155, 155, 155);
    }
    .pr{
        height: 30px;
        font-size: 15px;
        font-weight: 900;
        border: 1px solid rgb(151, 151, 151);
        background: cornsilk;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .not{
        color: rgb(255, 11, 11);
    }
    .live{
        color: rgb(17 167 16);
    }
</style>



<script>
    document.getElementById('return').classList.add('active')
</script>