{{> aj}}

<div class="star">  
    <h1>Sale Segment</h1>
    <table>
        <tr>
            <td class="heading">S.NO</td>
            <td class="heading">Brand name</td>
            <td class="heading"> Name</td>
            <td class="heading"> Current Address</td>
            <td class="heading">Earning</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Inter Miami</td>
            <td>David</td>
            <td>Miami </td>
            <td>$1 Million</td>
        </tr>

         <tr>
            <td>2</td>
            <td>Nba star</td>
            <td>Lebron</td>
            <td>NewYork </td>
            <td>$5 Million</td>
        </tr>
         <tr>
            <td>3</td>
            <td>Nike</td>
            <td>Cristiano</td>
            <td>Turin</td>
            <td>$102 Million</td>
        </tr>

         <tr>
            <td>4</td>
            <td>Football</td>
            <td>NeymarJr</td>
            <td>Paris </td>
            <td>$92 Million</td>
        </tr>

         <tr>
            <td>5</td>
            <td>Ninja Turtle Costume</td>
            <td>Mbappe</td>
            <td>Paris</td>
            <td>$30 Million</td>
        </tr>

    </table>
</div>

<style>
    .star{
        height:auto;
    }
    table{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    td{
        padding: 5px 20px;
        border: 1px solid rgb(155, 155, 155);
    }
    .heading{
        height: 30px;
        font-size: 15px;
        font-weight: 900;
        border: 1px solid rgb(151, 151, 151);
        background: rgb(0, 0, 0);
        color: whitesmoke

    }
    h1{
        margin: 0px 260px;
        font-weight: 900;

        padding: 10px 10px;
        text-align: center;
    }
</style>

