{{> nav}}

<div class="hero">  
    <h1>Sale Section</h1>
    <table>
        <tr>
            <td class="pr">S.NO</td>
            <td class="pr">Product name</td>
            <td class="pr">Customer Name</td>
            <td class="pr">Address</td>
            <td class="pr">Price</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Laptop</td>
            <td>Arun Pratap Singh</td>
            <td>Mell Rose Bypass G.T Road </td>
            <td>21,953</td>
        </tr>

         <tr>
            <td>2</td>
            <td>Desktop</td>
            <td>Ashu Rajput</td>
            <td>Mell Rose Bypass G.T Road </td>
            <td>56,094</td>
        </tr>
         <tr>
            <td>3</td>
            <td>Graphic Card</td>
            <td>Amit</td>
            <td>Center Point D - 4/277</td>
            <td>90,763</td>
        </tr>

         <tr>
            <td>4</td>
            <td>Iphone 11</td>
            <td>Kapil Chaudhary</td>
            <td>Law gate opposite london PG </td>
            <td>66,380</td>
        </tr>

         <tr>
            <td>5</td>
            <td>Headphone</td>
            <td>Krishna Mishra</td>
            <td>Lpu main gate</td>
            <td>7,987</td>
        </tr>

    </table>
</div>

<style>
    .hero{
        height:auto;
    }
    table{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    td{
        padding: 5px 20px;
        border: 1px solid rgb(155, 155, 155);
    }
    .pr{
        height: 30px;
        font-size: 15px;
        font-weight: 900;
        border: 1px solid rgb(151, 151, 151);
        background: cornsilk;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    h1{
        margin: 0px 260px;
        font-weight: 900;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 10px;
        text-align: center;
    }
</style>


<script>
    document.getElementById('sale').classList.add('active')
</script>